
@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@

@{ 
    Layout = null;
}

<!DOCTYP html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }

        th {
            background-color:burlywood;
        }
    </style>
</head>
<body>
    <div>


        @*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  ViewData  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@
         <h2>Usando o ViewData - Em cima, no endereço,  NÃO APARECE o caminho desta Página!</h2>
            <p><b>Deste modo penso que a segurança seja maior, pois não é possivel a partilha de endereços.</p>

        <br />


        <div>
            <table style="width:30%">
                <caption><h3>INFORMAÇÕES PESSOAIS</h3></caption>

                <br />
                <tr>
                    <th>Tipo</th>
                    <th>Dados Gerais Usando O ViewData</th>
                </tr>

                <tr>
                    <td><b>Nome:</b> </td>
                    <td> @ViewData["Nome"]</td>
                </tr>

                <tr>
                    <td><b>Email:</b></td>
                    <td>@ViewData["Email"]</td>
                </tr>

                <tr>
                    <td><b>Curso: </b></td>
                    <td>@ViewData["Curso"]</td>
                </tr>

                <tr>
                    <td><b>Data: </b></td>
                    <td>@ViewData["DataInicio"]</td>
                </tr>

            </table>
        </div>

        @*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  ViewBag  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

        @*<h2>Usando o ViewBag - Em cima, no endereço, APARECE o caminho desta Página!</h2>
        <p><b>Se o endereço for copiado e colado no mesmo ou outro navegador, o acesso SERÁ </b>PERMITIDO.</p>

        <br />
        <div>
            <table style="width:30%">
                <caption><h3>INFORMAÇÕES PESSOAIS</h3></caption>

                <br />
                <tr>
                    <th>Tipo</th>
                    <th>Dados Gerais Usando o ViewBag</th>
                </tr>

                <tr>
                    <td><b>Nome:</b> </td>
                    <td> @ViewBag.Nome</td>
                </tr>

                <tr>
                    <td><b>Email:</b></td>
                    <td>@ViewBag.Email</td>
                </tr>

                <tr>
                    <td><b>Curso: </b></td>
                    <td>@ViewBag.Curso</td>
                </tr>

                <tr>
                    <td><b>Data: </b></td>
                    <td>@ViewBag.DataInicio</td>
                </tr>

            </table>
        </div>*@

    </div>
</body>
</html>